@import url(design.sys.css);

@media (max-width: 768px) {
	#adminContent td:nth-child(1),
	#adminContent th:nth-child(1),
	#adminContent td:nth-child(2),
	#adminContent th:nth-child(2),
	#adminContent td:nth-child(4),
	#adminContent th:nth-child(4),
	#adminContent td:nth-child(6),
	#adminContent th:nth-child(6) {
		display: none;
	}
}
#main .sortable-header:hover {
	background-image: linear-gradient(rgba(0, 4, 12, 0.2), rgba(90, 90, 196, 0.2));
}
.admin-th th{
	background-color: var(--primary-4) !important;
	color: white !important;
}
.db-sidebar{
	background-color:white !important;}

.db-sidebar li a {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	height: 100%;
	&:hover {
		text-decoration: underline;
	}
}
.db-sidebar li {
	cursor: pointer;
	background-color: transparent;	
	&:hover {
		background-image: linear-gradient(
			rgba(123, 153, 214, 0.2),
			rgba(209, 209, 226, 0.2)
		);
	}
}


.db-sidebar .sidebar-homeBtn{
	display: block;
	&:hover {
		transform: scale(1.03);
	}
}
.wlc-tiltle:hover{
	text-decoration: underline;
	transform: scale(1.02);
	
	
}

@media (min-width: 992px) {
	#main {
		margin-left: 250px !important; /* Matches sidebar width */
	}
}
/* carousel in product page (view modal) */
#carouselNextBtn, #carouselPrevBtn {
filter: invert(1);
}
/* ..........orders page cards........... */
.statsCard-TotalOrders {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.statsCardPending {
    background: linear-gradient(135deg, #f7d8a9 0%, #e9a81c 100%);
}

.statsCardShipped {
	background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}

.statsCardDelivered {
    background: linear-gradient(135deg, #35e06e 0%, #29b79d 100%);
}
.statsCardCancelled {
    background: linear-gradient(135deg, #f78a8a 0%, #dc2323 100%);
}
.statsCard-totalRrevenue {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
